
Models/data/cifar-10-python.tar.gz
Models/data/cifar-10-batches-py/data_batch_5
Models/data/cifar-10-batches-py/data_batch_4
Models/data/cifar-10-batches-py/data_batch_3
Models/data/cifar-10-batches-py/data_batch_2
Models/data/cifar-10-batches-py/data_batch_1
Data/Cifar 10/cifar-10-python.tar.gz
Data/Cifar 10/cifar-10-batches-py/cifar-10-python.tar.gz
